*{
    margin: 0;
    padding: 0;
}

.clearfix:after{
    clear: both;
    content: "";
    display: block;
}
.container{
    display:relative;
    margin-bottom: 0;
}

header{
    background-color: black;
    .header-link{
        color: white;
    }
}
.header-color{
    color: white;
}
main {
    
    padding: .5rem 1rem;
    h1{
        text-align: center;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .show-card{
        width: 30%;
        float: left;
        margin: 1.5%;
        margin-top: 3%; 
    }
    .show-card:hover{
        box-shadow: 1px 1px 15px 1px #000000;
        cursor: pointer;
    }
    .delete-margin{
        margin-right: 0;
    }
    p{
        padding: 4% 2% 2% 2%;
        text-align: center;
        font-weight: bold;
    }
}


footer{
    background-color: black;
    margin-top: 2%;
    p{
        text-align: center;
        color: white;
        padding: 1%;
    }
}

#searchUl{
    width: 10.5%;
    float: right;
    position: absolute;
    top: 4.8%;
    right: 22%;
    z-index: 5;
}
#show-img{
    float: left;
    margin-bottom: 3%;
}
h2{
    margin-bottom: 5%;   
}
.season{
    float: left;
    margin-left: 3%;
    width: 45%
}
.cast{
    float: left;
    margin-top: 3%;
    margin-left: 3%;
    width: 45%
}
.details{
    clear: both;
    p{
        font-weight: 100;
        margin: 0;
        text-align: left;
        padding: 0;
    }
}
.season-span{
    font-weight: bold;
}
.navLi{
    cursor: pointer;
}